<!DOCTYPE html>
<html lang="en">
<head>
	<title>DanTub Clicker</title>
	<link rel="shortcut icon" type="image/png" href="/resources/favicon.ico"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/structure.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="dantubApp">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
	<script src="node/const.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
	<script src="bower_components/angularFacebookUtils/src/facebookUtils.min.js"></script>
	<script src="user_data_service.js"></script>
	<script src="index.js"></script>

	<div id="main-left" class="col-md-3 main-container flex flex-col static">
		<div ng-controller="ClickerController" id="clicker-container">
			<img ng-click="addClickGgs()" id="dantub-face" class="center-block" src="resources/dantub.jpg">
			<div id="gps">GPS: {{gps()}}</div>
			<div id="ggs-total">GGs: {{numGgs()}}</div>
		</div>
		<div ng-controller="ChatController" id="chat-container" class="flex flex-col">
			<div ng-controller="FacebookController" id="chat-toolbar">
				<div id="chat-toolbar-buttons" class="btn-group btn-group-xs flex flex-row grow" role="group">
					<button ng-click="setChatMode(ChatModes.Chat)" ng-class="{'btn-success': connected, 'btn-danger': !connected, 'active': chatMode == ChatModes.chat}" type="button" class="btn btn-default">Chat Status: {{connected ? 'Online' : 'Offline'}}</button>
					<button ng-click="setChatMode(ChatModes.ClientInfo)" ng-class="{'active': chatMode == ChatModes.ClientInfo}" type="button" class="btn btn-default">Online Users</button>
				</div>
				<facebook-login-button></facebook-login-button>
			</div>
			<div ng-show="chatMode == ChatModes.Chat" class="messages-container flex flex-col" scroll-glue>
				<div ng-repeat="message in messages track by $index" class="message-container flex flex-row">
					<div ng-if="message.type == Events.FbConnect">
						<span class="label label-success">{{message.content}}</span>
					</div>
					<div ng-if="message.type == Events.ChatMessage" class="chat-message flex flex-row">
						<span class="label username">{{message.alias}}</span>
						<div class="chat-content">
							{{message.content}}
						</div>
					</div>
				</div>
			</div>
			<div ng-show="chatMode == ChatModes.ClientInfo" class="messages-container">
				<div>Users online: {{numConnectedUsers}}</div>
				<div ng-repeat="alias in connectedUsers track by $index">
					{{alias}}
				</div>
			</div>
			<div class="input-group">
				<input ng-model="localMessageContent" ng-keypress="sendChatMessage($event)" type="text" class="form-control" placeholder="Enter a message!">
				<span class="input-group-btn">
					<button ng-click="sendChatMessage(null)" class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
						Send
					</button>
				</span>
			</div>
		</div>
	</div>
	<div ng-controller="CenterTabController" id="main-center" class="col-md-6 main-container">
		<div ng-controller="QuoteController" class="page-header">
			<h1>Dan Tub Clicker</h1>
			<div class="subtext">{{quote}}</div>
		</div>
		<ul class="nav nav-tabs">
			<li ng-click="changeTab(tabs.Home)" ng-class="{active: currentTab == tabs.Home}" role="presentation"><a href="#">{{tabs.Home}}</a></li>
			<li ng-click="changeTab(tabs.Options)" ng-class="{active: currentTab == tabs.Options}" role="presentation"><a href="#">{{tabs.Options}}</a></li>
			<li ng-click="changeTab(tabs.Comments)" ng-class="{active: currentTab == tabs.Comments}" role="presentation"><a href="#">{{tabs.Comments}}</a></li>
		</ul>
		<div id="tab-content-container">
			<div ng-show="currentTab == tabs.Home">
				Welcome to DanTub clicker!  Items and upgrades coming soon.
			</div>
			<div ng-show="currentTab == tabs.Options">
				Options
			</div>
			<div ng-show="currentTab == tabs.Comments">
				Comments
			</div>
		</div>
	</div>
	<div id="main-right" class="col-md-3 main-container">
		<div>Item and Upgrade Tabs</div>
		<div>
			Items
		</div>
		<div>
			Upgrades
		</div>
	</div>
</body>
</html>